# Archivos generados por el compilador de Java
gestor-gastos-back/target/
gestor-gastos-back/build/

# Dependencias de Node (Frontend)
gestor-gastos-front/node_modules/

# Archivos de paquete y directorios de salida de compilación
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/gestor-gastos-front/dist/
/gestor-gastos-front/build/

# Archivos de configuración del IDE y sistema
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Archivos de logs
*.log
*.log.*

# Directorios de entorno virtual y archivos de entorno
venv/
env/
.env
.env.local
.env.*.local

# Archivos de configuración de seguridad
*.pem
*.cert
*.key
