/* src/assets/global.css */

:root {
    --pickled-bluewood-50: #f5f7fa;
    --pickled-bluewood-100: #eaeff4;
    --pickled-bluewood-200: #cfdce8;
    --pickled-bluewood-300: #a6bfd3;
    --pickled-bluewood-400: #759cbb;
    --pickled-bluewood-500: #5480a3;
    --pickled-bluewood-600: #416788;
    --pickled-bluewood-700: #35526f;
    --pickled-bluewood-800: #2f475d;
    --pickled-bluewood-900: #2c3e50;
    --pickled-bluewood-950: #1d2834;
  }
  