/* src/assets/global.css */

:root {
    --pickled-bluewood-50: #f5f7fa;
    --pickled-bluewood-100: #eaeff4;
    --pickled-bluewood-200: #cfdce8;
    --pickled-bluewood-300: #a6bfd3;
    --pickled-bluewood-400: #759cbb;
    --pickled-bluewood-500: #5480a3;
    --pickled-bluewood-600: #416788;
    --pickled-bluewood-700: #35526f;
    --pickled-bluewood-800: #2f475d;
    --pickled-bluewood-900: #2c3e50;
    --pickled-bluewood-950: #1d2834;
  }

.bg-custom-blue-900{
    background-color: var(--pickled-bluewood-900);
}
.bg-custom-blue-800 {
    background-color: var(--pickled-bluewood-800);
}
.bg-custom-blue-700 {
    background-color: var(--pickled-bluewood-700);
}
.bg-custom-blue-600 {
    background-color: var(--pickled-bluewood-600);
}

.bg-custom-blue-500 {
    background-color: var(--pickled-bluewood-500);
}

.bg-custom-blue-400 {
    background-color: var(--pickled-bluewood-400);
}

.bg-custom-blue-300 {
    background-color: var(--pickled-bluewood-300);
}

.bg-custom-blue-200 {
    background-color: var(--pickled-bluewood-200);
}

.bg-custom-blue-100 {
    background-color: var(--pickled-bluewood-100);
}

.color-white-less{
    color: rgba(255, 255, 255, 0.78);
    transition: color 0.3s ease;
}

.color-white-less:hover {
    color: #f0f0f0;
    filter: brightness(150%);
}

.custom-rounded {
    border-radius: 1rem !important; /* Aumenta el redondeo de los bordes */
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
}

.arrow-up-income{
    border-bottom: 0.75vw solid #297243;
}

.arrow-down-income{
    border-top: 0.75vw solid #5dac75;
}

.arrow-up-spent{
    border-bottom: 0.75vw solid #a01414;
}

.arrow-down-spent{
    border-top: 0.75vw solid #ffc7c7;
}

.border-custom-blue{
    border-radius: 20px;
    border: 2px solid #2C3E50;
}

.chart-container {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.category-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}

.table th {
    background-color: var(--pickled-bluewood-300);
    color: #000000;
}

.clickable-item {
    cursor: pointer;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.interval-select, .date-input, .update-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.custom-interval-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-input:first-of-type {
    margin-right: 5px;
}

.date-input:last-of-type {
    margin-right: 20px;
}

.date-input {
    max-width: 140px;
}
  